
<div class=" container text-center text-danger " style="margin-top:80px">
<h1>Total <%= all %></h1>
</div>

<div class="container mt-3" >
    <div class="row">
        <table class="text-center shadow-sm my-2 table table-hover">
            <thead class="bg-danger-subtle">
                <tr class="text-danger-emphasis py-3">
                    <th>#</th>
                    <th>Image</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Profession</th>
                    <th>search history</th>
                </tr>
            </thead>
            <tbody class="text-danger">
                <% allu.forEach((user,index) => { %>
                    <tr class="py-3 text-<%= user.role=='User'?'success':'primary'%>">
                        <td><h6><%= index+1 %></h6></td>
                        <td><img src="img/uploads/<%= user.image %>" alt="" width="50px" class="rounded shadow-sm img-thumbnail"></td>
                        <td><h6><%= user.fname %> <%= user.sname %></h6></td>
                        <td><h6><%= user.role %></h6></td>
                        <td><h6><%= user.email %></h6></td>
                        <td><h6><%= user.gender %></h6></td>
                        <td><h6><%= user.profession %></h6></td>
                        <td><h6><a href="/history?email=<%= user.email %>"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#dc4c64" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5s5 2.24 5 5s-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3s3-1.34 3-3s-1.34-3-3-3z"/></svg></a></h6></td>
                    </tr>
                <% }) %>
            </tbody>
            <tfoot class="bg-danger-subtle">
                    <tr>
                        <th colspan="8">                   
                        </th>
                    </tr>
            </tfoot>
        </table>
    </div>
</div>