
<div id="profileform" class="my-5">
    <div class="container">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="red" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7H4Z"/></svg>
        </a>
    </div>
    <div id="profilehead" class="text-center mb-3">
        <h1 class="text-danger">Update Profile !</h1>
    </div>
    <form action="/updateprofile" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="card border-danger border-opacity-50">
                <div class="card-title border-danger text-center my-3">
                    <img src="img/uploads/<%= profile.image %>"  class="rounded-5" width="100px">
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div>
                            <input type="text" value="<%= profile._id %>" name="id" hidden> 
                            <input type="text" value="<%= profile.image %>" name="old_image" hidden> 
                        </div>
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label text-danger"><b>First Name</b></label>
                        <input type="text" name="fname" class="form-control text-danger" id="exampleFormControlInput1" value="<%= profile.fname %>" required>
                        </div>
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label text-danger"><b>Second Name</b></label>
                        <input type="text" name="sname" class="form-control text-danger" id="exampleFormControlInput1" value="<%= profile.sname %>" required>
                        </div>
                    </div>   
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-danger"><b>Gender</b></label>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault" value="male" <%= profile.gender == 'male' ? 'checked':'' %>>
                                    <label class="form-check-label text-danger" for="flexRadioDefault1">
                                      <b>Male</b>
                                    </label>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault" value="female" <%= profile.gender == 'female' ? 'checked':'' %>>
                                    <label class="form-check-label text-danger" for="flexRadioDefault2">
                                      <b>Female</b>
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-danger"><b>Profession</b></label>
                        <select class="form-select" aria-label="Default select example" name="profession">
                            <option <%= profile.profession == 'Student'?'selected':'' %>>Student</option>
                            <option value="Doctor" <%= profile.profession == 'Doctor'?'selected':'' %>>Doctor</option>
                            <option value="Hospital" <%= profile.profession == 'Hospital'?'selected':'' %>>Hospital</option>
                            <option value="Others" <%= profile.profession == 'Others'?'selected':'' %>>Others</option>
                          </select>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label text-danger"><b>Select Profile Picture</b></label>
                        <input class="form-control" type="file" id="formFile" name="profile">
                    </div>          
                </div>
                <div class="card-footer text-center border-0 bg-transparent mb-3">
                    <button class="btn btn-danger"> Update Profile </button>
                </div>
            </div>
        </div>
    </form>
</div>